@model Hiring.Models.Job
@{
    ViewBag.Title = "JobDetailsForEmployer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                @if (Session["message"] != null)
                {
                    <p>@Session["message"]</p>
                    Session["message"] = null;
                }
                <h4 class="">Job Title</h4>
                <p>@Model.JobTitle</p>
                <h4>No. of Vacancy</h4>
                <p>@Model.Vacancy</p>
                <h4 class="">Job Description</h4>
                <p>@Model.JobDescription</p>
                <h4>Required Skills</h4>
                <p>@Model.RequiredSkills</p>
                <h4 class="">Experience Required</h4>
                <p>@Model.RequiredExperience</p>
                <h4>Education</h4>
                <p>@Model.EducationalQualifications</p>
                <h4 class="">Location</h4>
                <p>@Model.JobLocation</p>
                <h4>Salary</h4>
                <p>@Model.Salary</p>
                <h4>Other</h4>
                <p>@Model.SpecialInfo</p>
                <h4>Application Deadline</h4>
                <p>@Model.Deadline</p>
                <h4>Posted on</h4>
                <p>@Model.DateOfPublication</p>
                <h4>Last Modified on</h4>
                <p>@Model.DateLastModified</p>
                <br />
                <div class="col-md-offset-5">
                    @Html.ActionLink("Edit", "JobEditing", "Employer", new { @id = @Model.JobId }, new { @class = "btn btn-primary" })
                    @*@Html.ActionLink("Applicants", "ApplicantList", "Employer", new { @id = @Model.JobId }, new { @class = "btn btn-info" })*@
                    @Html.ActionLink("Go Back", "EmployerJobList", "Employer", new { @id = (int)Session["employerId"] }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
</div>

