@model Hiring.Models.Job
@{
    ViewBag.Title = "JobPosting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Post a job here</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("JobPosting", "Employer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.JobTitle, "Job Title")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.JobTitle, new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.Vacancy, "No. of Vacancy")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Vacancy, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.JobDescription, "Job Description")
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(m => m.JobDescription, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.RequiredSkills, "Required Skills")
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(m => m.RequiredSkills, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.RequiredExperience, "Experience Required")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.RequiredExperience, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.EducationalQualifications, "Educational Qualifications")
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(m => m.EducationalQualifications, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.JobLocation, "Job Location")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.JobLocation, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.Salary, "Salary")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.SpecialInfo, "Special Info")
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(m => m.SpecialInfo, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            @Html.LabelFor(m => m.Deadline, "Deadline")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Deadline, new { @class = "form-control" })
                        </div>
                    </div>
                    @*@Html.HiddenFor(m => m.EmployerId, new { @value = ""})*@
                    @*@Html.HiddenFor(m => m.PublicationDate, new { @value = ""})*@
                    @Html.AntiForgeryToken()
                    
                    <button type="submit" class="col-md-offset-4 btn btn-success">Post</button>
                }
            </div>
        </div>
    </div>
</div>

