@using Hiring.Repositories
@model List<Hiring.Models.AppliedJob>
@{
    ViewBag.Title = "AppliedJobList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3>Jobs you have applied for</h3>
            </div>
            <div class="panel-body">
                @if (Model.Count == 0)
                {
                    <p>No job to show</p>
                }
                else
                {
                    var repository = new Repository();
                    var i = 0;
                    <table class="table table-bordered">
                        <tr>
                            <th>Serial No.</th>
                            <th>Job Title</th>
                            <th>Organization</th>
                            <th>Application Deadline</th>
                            <th>Applied on</th>
                            <th>Expected Salary</th>
                            <th></th>
                        </tr>
                        @foreach (var job in Model)
                        {

                            i++;
                            <tr>
                                <td class="col-md-1">@i</td>
                                <td class="col-md-2">@job.Job.JobTitle</td>
                                <td class="col-md-1">@repository.GetEmployerById(job.Job.EmployerId).OrganizationName</td>
                                <td class="col-md-2">@job.Job.Deadline</td>
                                <td class="col-md-2">@job.DateOfApplication</td>
                                <td class="col-md-1">@job.ExpectedSalary</td>
                                <td class="col-md-3">
                                    @Html.ActionLink("Details", "JobDetailsForJobSeeker", "JobSeeker", new { @id = job.JobId }, new { @class = "btn btn-info" })
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
</div>
