@model Hiring.ViewModels.JobDetailsViewModel
@{
    ViewBag.Title = "JobDetailsForJobSeeker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                @if (Session["message"] != null)
                {
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4 class="alert-heading">@Session["message"]</h4>
                    </div>
                    
                    Session["message"] = null;
                }
                <h4 class="">Job Title</h4>
                <p>@Model.Job.JobTitle</p>
                <h4>No. of Vacancy</h4>
                <p>@Model.Job.Vacancy</p>
                <h4 class="">Job Description</h4>
                <p>@Model.Job.JobDescription</p>
                <h4>Required Skills</h4>
                <p>@Model.Job.RequiredSkills</p>
                <h4 class="">Experience Required</h4>
                <p>@Model.Job.RequiredExperience</p>
                <h4>Education</h4>
                <p>@Model.Job.EducationalQualifications</p>
                <h4 class="">Location</h4>
                <p>@Model.Job.JobLocation</p>
                <h4>Salary</h4>
                <p>@Model.Job.Salary</p>
                <h4>Other</h4>
                <p>@Model.Job.SpecialInfo</p>
                <h4>Employer Information</h4>
                <p>@Model.Employer.OrganizationName</p>
                <p>@Model.Employer.OrganizationInfo</p>
                <p>@Model.Employer.Address</p>
                <br />
                <div class="col-md-offset-5">
                    @(Model.IsAlreadyApplied ?
                          Html.ActionLink("Already Applied", "JobApplication", "JobSeeker", new { @id = @Model.Job.JobId }, new { @class = "btn btn-success disabled" })
                          : Html.ActionLink("Apply Now", "JobApplication", "JobSeeker", new { @id = @Model.Job.JobId }, new { @class = "btn btn-primary" }))
                    @(Model.IsAlreadyBookmarked ?
                                  Html.ActionLink("Already Bookmarked", "JobBookmarking", "JobSeeker", new { @id = @Model.Job.JobId }, new { @class = "btn btn-warning disabled" })
                          : Html.ActionLink("Bookmark", "JobBookmarking", "JobSeeker", new { @id = @Model.Job.JobId }, new { @class = "btn btn-info" }))
                </div>
                <p><b>Email: </b>@Model.Employer.Email</p>
                <p><b>Contact No: </b>@Model.Employer.ContactNumber</p>
            </div>
        </div>
    </div>
</div>