@using Hiring.Models
@using Hiring.Repositories
@using Microsoft.AspNet.Identity
@if (Session["employerId"] != null)
{
    var repository = new Repository();
    var employer = repository.GetEmployerById((int)Session["employerId"]);
    <div class="dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 4px">
            @employer.Username
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Profile", "EmployerProfile", "Employer", routeValues: null, htmlAttributes: null)</li>
            <li>@Html.ActionLink("Change Password", "EmployerPasswordChange", "Employer", routeValues: null, htmlAttributes: null)</li>
            <li>@Html.ActionLink("Logout", "Logout", "Login", routeValues: null, htmlAttributes: null)</li>
        </ul>
    </div>
}
else if (Session["jobSeekerId"] != null)
{
    var repository = new Repository();
    var jobSeeker = repository.GetJobSeekerById((int)Session["jobSeekerId"]);
    <div class="dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 4px">
            @jobSeeker.Username
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Profile", "JobSeekerProfile", "JobSeeker", routeValues: null, htmlAttributes: null)</li>
            <li>@Html.ActionLink("Change Password", "JobSeekerPasswordChange", "JobSeeker", routeValues: null, htmlAttributes: null)</li>
            <li>@Html.ActionLink("Logout", "Logout", "Login", routeValues: null, htmlAttributes: null)</li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Index", "Register", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            @Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
