@model Hiring.Models.Employer
@{
    ViewBag.Title = "EmployerRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Register as an Employer here</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("EmployerRegister", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-3 text-right">
                            @Html.LabelFor(m => m.Name, "Name", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">@Html.ValidationMessageFor(m => m.Name)</div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 text-right">
                            @Html.LabelFor(m => m.Email, "Email", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">@Html.ValidationMessageFor(m => m.Email)</div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 text-right">
                            @Html.LabelFor(m => m.Password, "Password", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">@Html.ValidationMessageFor(m => m.Password)</div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 text-right">
                            @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 text-right">
                            @Html.LabelFor(m => m.Username, "Username", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">@Html.ValidationMessageFor(m => m.Username)</div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 text-right">
                            @Html.LabelFor(m => m.ContactNumber, "Contact Number", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">@Html.ValidationMessageFor(m => m.ContactNumber)</div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 text-right">
                            @Html.LabelFor(m => m.OrganizationName, "Organization Name", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.OrganizationName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">@Html.ValidationMessageFor(m => m.OrganizationName)</div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 text-right">
                            @Html.LabelFor(m => m.OrganizationInfo, "Organization Info", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextAreaFor(m => m.OrganizationInfo, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 text-right">
                            @Html.LabelFor(m => m.Address, "Address", new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>